@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply text-base;
}

p{
  margin-bottom: 0.5rem;
}

.contentSpinnerLoading{
  background-color: rgb(20 20 20 / 42%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

@keyframes spin {
  to { transform: rotate(360deg);}
}

.contentSpinnerLoading__spinner {        
    border: 8px solid rgb(255 255 255 / 25%);
    border-left-color: #67e8f9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.2s linear infinite;
}

.dropdown .dropdown-content {
  position: absolute!important;
  width: 100vw!important;
  right: -5px!important;
  border-radius: 0 0 10px 10px;
  top: 44px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.dropdown ul li{
  border-bottom: 1px solid #ffffff31;
  cursor: pointer;
}

.dropdown ul li a:is(:not(details)) .dropdown-content {
  visibility: hidden;
  opacity: 0;
}

/* .table :where(thead, tbody) :where(tr:first-child:last-child) {
  border-bottom: 1px solid #e2e8f04b!important;
} */